<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<div class="center container">
    <h1>Land Reg Values</h1>
    <h5>(1999, 1998, 2020)</h5>
    <div class="row form_container">
        <form method="POST" class="col s12">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    {{ form.postcode(class="center-align") }}
                    {{ form.submit(class="waves-effect waves-light btn search_button") }}
                <p style="color:rgb(222, 222, 222)">Errors? Speak to Paul Wilson</p>
                </div>
            </div>
        </form>
    </div>
</div>
<body>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="static/js/materialize.min.js"></script>
<script type="text/javascript" src="static/js/custom.js"></script>
</body>
</html>
